@import "base";

header {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 1.5rem 0;
  .bvn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    .bvn_grid {
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 0;
      }
      .bvn_grid-text {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
      }
      label {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      input {
        width: 65%;
        padding: 1rem;
        font-size: 1.25rem;
        border: 1px solid $dark-purple;
        background-color: $greyish-purple;
        &:focus {
          outline-color: $accent;
          border-color: $accent;
        }
        &::placeholder {
          color: $grey;
        }
      }
      button {
        width: 30%;
        padding: 1rem 0.5rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        background-color: $accent;
        color: $white;
        border: 1px solid $dark-purple;
        &:hover {
          background-color: $dark-purple;
          transition: $transition;
        }
      }
    }
  }
}

@import "media";
